body{background: #f2f2f2; font-family: 'Open Sans Condensed', sans-serif;}
*{margin: 0; padding: 0;}
.header{position: fixed; z-index: 2000; height: 30px; padding: 15px 0 24px; background-color: #F76700;background-image: -webkit-linear-gradient(#F76700,#FA3219);background-image: linear-gradient(#F76700,#FA3219);border-color: #C53421; text-align: center; width: 100%; overflow: hidden; -webkit-box-shadow: inset 0px -4px 15px 0px rgba(0, 0, 0, 0.2);-moz-box-shadow:  0px -4px 15px 0px rgba(0, 0, 0, 0.2);-o-box-shadow:  0px -4px 15px 0px rgba(0, 0, 0, 0.2);box-shadow:  0px -4px 15px 0px rgba(0, 0, 0, 0.2);}
.header-content{position: absolute;  width: 600px; height:300px; top:50%; left: 50%; margin-top: -200px; margin-left: -300px; background-image: url(../../../img/bg_article_white.png); background-repeat: no-repeat; background-position: 0 125px;}
	.header img{margin-bottom: 26px;width: 150px;}
	.header form{position: relative; margin: 0 auto; width: 450px;} 
		.header p{width: 400px; margin: 0 auto; color: #fff; font-size: 25px; line-height: 28px; padding: 30px 0 0 0;}
		.header form input{border: 1px solid #f2f2f2; padding: 15px 25px; border-radius: 5px;}
		.header form input[type="text"]{width: 398px; box-shadow: 2px 2px 2px rgba(0,0,0,0.1);}
			.header form input:focus[type="text"]{outline: 0; border: 1px solid #b8b8b8;} 
	.header form input[type="submit"]{position: absolute; right: 0px; padding: 17px 25px;height:10px; background-image: url(../../../img/search-icon.png); background-size: 40px 40px; background-repeat: no-repeat; background-color:#fff; background-position: center; cursor: pointer; border: none; border-radius: 4px;}
		.header-search{overflow: hidden;}
		.header-search img{float: left; margin-left: 60px; width: 60px;}
		.header-search form{width: auto;}
			.header-search form input[type="submit"]{top: 3px; padding: 14px 20px;}
			.header-search form input{ padding: 7px; border-radius: 5px;}
			.header-search form input{float: right; margin-right: 60px;}
		.header .header-content form input[type="submit"]{ top: 8px; right: 1px; }
			.header form input:active[type="submit"]{outline: 0;}
			.header form input:focus[type="submit"]{outline: 0;}

.content{padding:100px 50px; overflow: hidden; background: #f2f2f2; }
	.content article{width: 20%; float: left; position: relative; margin-bottom: 20px; cursor: pointer;}
		.content article .content-song{margin:0 auto; padding: 10px; width: 85%; background: #fff; border-radius: 4px;  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.1);}
		.content article .active{ box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.2);}

		.content article img{ width: 100%; margin: 0 auto; margin-bottom: 10px;}
			.content article .info{float: left; width: 80%; overflow: hidden;}
			.content article .info h3, .content article .info h4{color: #1c1c1c;}
			.content article h3{font-family: 'Fjalla One', sans-serif; text-transform: uppercase; font-size: 16px; line-height: 20px;}
			.content article h4{font-size: 12px;}
		.content-info{overflow: hidden;}
		
#download{position: fixed; bottom: 0;left: 0; width: 100%; background:#1c1c1c; border:none; color:#fff; padding: 10px 0;}
	#download input:focus{outline: 0;}